<h1>Editing specialization</h1>

<%= render "form", specialization: @specialization %>

<br>

<div>
  <%= link_to "Show this specialization", @specialization %> |
  <%= link_to "Back to specializations", specializations_path %>
</div>
